h1 {
  font-family: "Noto Sans JP", sans-serif;
}

#mama {
  width: 500px;
  margin-left: -20px;
  margin-top: -40px;
}

div {
  background-color: #cc462b;
  font-family: "BBBouquet-Regular";
  font-size: 25px;
  text-align: center;
  margin-top: -40px;
  padding: 20px;
}

a:hover {
  background-color: #e37152;
}

.rice {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.sauces {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.seasonings {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.tapioca {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.tea {
  text-decoration: none;
  color: white;
  padding: 15px;
}

.candies {
  text-decoration: none;
  color: white;
  padding: 15px;
}

h2 {
  font-family: "BBBouquet-Regular";
  color: #cc462b;
  text-align: center;
  font-size: 60px;
  padding-bottom: 5px;
  text-decoration: underline;
  margin-bottom: -15px;
}

#starch1 {
  width: 340px;
}

#starch2 {
  width: 340px;
}

#tappearls {
  width: 340px;
}
